body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, span, form, ul, li,a {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.container{
    width: 1171px;
    margin: 0 auto;
}

.header{
    background: #f7f8fa;
    height: 164px;
}
.headLineOne{
    padding-left: 200px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.number {
    margin-right: 10px;
    padding-top: 5px;
    height: 35px;
    padding-left: 467px;
}

.viber{
    height: 35px;
    display: inline;
    padding-top: 5px;
    padding-left: 10px;
    border-left: 1px solid grey;
}

.telegram {
    height: 35px;
    display: inline;
    padding-top: 5px;
    padding-left: 10px;
    border-left: 1px solid grey;
}

.messages{
    height: 23px;
}

.workTime {
    width: 105px;
    height: 35px;
    color: grey;
    padding-left: 10px;
    border-left: 1px solid grey;
    font-size: 11px;
}

.lang{
    height: 35px;
    padding-top: 5px;
    padding-left: 10px;
    border-left: 1px solid grey;
}



.logo{
    width: 139px;
    height: 66px;
    display: inline;
    padding-right: 300px;
}

.headLineTwo{
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items:center;
}

a{
    text-decoration: none;
    color: black;
}

.catalog{
    font-family: 'Montserrat', sans-serif;
    background: #f7f8fa;
    display: block;
    width: 203px;
    height: 42px;
    padding: 10px 0;
    padding-left: 17px;
    text-align: left;
    font-weight: bold;
    border-radius: 10px ;
}

.catalog:hover{
    background-color: #ffa627;
}

.btnImg{
    padding-top: 4px;
    height: 30px;
}
.imgForButton{
    display: flex;
    border-radius: 10px ;
    border: 1px solid grey;
    text-decoration: none;
    transition: all 1s ease;
    margin-left: 30px;
}
.imgForButton:hover{
    background-color: #ffa627;
}

.dropbtn {
    font-size: 15px;
    border: none;
    background: #f7f8fa;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #f1f1f1;}

.search{
    width: 236px;
    height: 42px;
    text-align: left;
    font-size: 11px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 40px;
}

.search::-webkit-calendar-picker-indicator {
    display:none !important;
}

.basket{
    font-family: 'Montserrat', sans-serif;
    background: #f7f8fa;
    display: block;
    width: 122px;
    height: 42px;
    padding: 10px 0;
    padding-left: 17px;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
}

.basket:hover{
    background-color: #ffa627;
}

.log{
    font-family: 'Montserrat', sans-serif;
    background: #f7f8fa;
    display: block;
    width: 122px;
    height: 42px;
    padding: 10px 0;
    padding-left: 17px;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
}

.log:hover{
    background-color: #ffa627;
}


.profile{
    font-family: 'Montserrat', sans-serif;
    background: #f7f8fa;
    display: block;
    width: 122px;
    height: 42px;
    padding: 10px 0;
    padding-left: 17px;
    text-align: left;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
}

.inputForm{
    padding-top: 30px;
    display: flex;
    border: 2px solid #ffa627;
    width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 10px;
    margin-left: 285px;
    padding-left: 100px;
}

.login{
    padding-left: 10px;
}

.inputPlace{
    margin-top: 6px;
    width: 400px;
    margin-left: 10px;
    border-radius: 5px;
    height: 30px;
}

.forgotPass{
    padding-left: 155px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    color: dodgerblue;
    text-decoration: underline
}

.nameInput{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    padding-top: 10px;
}

.btn {
    margin-left: 55px;
    border: 1px solid grey;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    display: inline;
    width: 60px;
    height: 37px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 1s ease;
}

.btn:hover{
    background-color: #ffa627;
}

.btnReg {
    border: 1px solid grey;
    margin-left: 150px;
    padding-top: 8px;
    font-family: 'Montserrat', sans-serif;
    display: inline;
    width: 120px;
    height: 37px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 1s ease;
}

.btnReg:hover{
    background-color: #ffa627;
}

.btnAction{
    display: flex;
    margin-top: 15px;
}






.footer{
    background-color: #f7f8fa;
    height: 258px;
}

.footerLineOne{
    padding-left: 10px;
    padding-bottom: 113px;
    padding-top: 24px;
}

.err{
    color: #ffa627;
}

.footerInfo{
    font-size: 12px;
}

.footerRequisites{
    padding-bottom: 12px;
}

.footerText{
    padding-left: 10px;
    font-size: 10px;
    color: #b2aeba;
}